REDPANDA_BOOTSTRAP_SERVERS=localhost:19092
REDPANDA_TOPIC_ACTIVITES=activites_sportives
DOSSIER_SORTIE_PARQUET=data/silver/activites_streaming
DOSSIER_CHECKPOINT=data/cache/checkpoint_spark_activites
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/xxx/xxx
GOOGLE_MAPS_API_KEY=ta_cle_api_google_maps
ADRESSE_ENTREPRISE=1362 Av. des Platanes, 34970 Lattes